apiVersion: v1
kind: Secret
metadata:
  name: colabot-dev-1-secret
type: Opaque
data:
  tls.crt: {{ TLS_CRT_DEV }}
  tls.key: {{ TLS_KEY_DEV }}
stringData:
  access_token: {{ ACCESS_TOKEN_DEV }}
  cml_password: {{ CML_PASSWORD }}
  api_secret: {{ API_SECRET }}
  mongo_initb_root_password: {{ MONGO_DB_ROOT_PASSWORD }}
  awx_password: {{ AWX_PASSWORD }}
  nlp_secret: {{ NLP_SECRET }}
  aws_password: {{ AWS_PASSWORD }}
